extends layout

block content
  if doAlert
    include alert
  div.container.text-center.w3-animate-opacity
    img(src="images/favicon.ico" width="10%").mx-auto.d-block
    h1.display-1= title
    p Let's write some notes.
    form(role='form' action="/userHome" method="POST")
      //- TODO testing, temporary until login credentials in place
      input(type="hidden",id="message", name="message", value="login")
      button(type="submit", class="btn btn-primary") Start 
