doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    
  body
    script(src="/js/jquery.min.js")
    script(src="/js/umd/popper.min.js")
    script(src="/js/bootstrap.min.js")
    block content

