doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/w3.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/selectize.css")
    link(rel="stylesheet" href="/css/selectize.bootstrap4.css")
    link(rel="stylesheet", href="/css/jquery.dataTables.min.css")
    
  body
    script(src="/javascripts/scripts.js")
    script(src="/js/moment.min.js")
    script(src="/js/jquery.min.js")
    script(src="/js/umd/popper.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/selectize.js")
    script(src="/js/jquery.dataTables.min.js")
    script(src="/js/dataTables.dataTables.min.js")
    block content
    block foot

