extends layout

block content

  //- sidebar.pug
  include sidebar

  //- Body
  div.container.w3-animate-opacity
    h1.display-3= message
    
    //- Form start
    hr
    form(id='createNewClient' role='form' method="POST" action="/createNewClient")
      include clientForm
      button(for='createNewClient' type='submit').btn.btn-primary 
        i.fa.fa-plus
          span.fa-icon-text  Save Client
    hr
    
        
