extends layout

block content

  //- sidebar.pug
  include sidebar

  //- Body
  div.container.w3-animate-opacity
    h1.display-3= message

    //- Buttons
    div.row
      div.col-sm-2.ml-3.mr-1.px-0
        form(id='formCancelNewNote' role="form" method='POST' action="/viewClient")
          input(type="hidden" id='userid' name='userid' value= id)
          button.btn.btn-danger.btn-block(id='btnCancel' type='submit' data-toggle="tooltip" data-placement="top" title="Cancel Note.") 
            i.fa.fa-times
              span.fa-icon-text  Cancel
    
    //- Form start
    hr
    p.lead Client Name: 
      span.toupper(id='clientFullName') #{firstName} #{lastName} 
    form(id='createNewNote' role='form' method="POST" action="/createNewNote" onsubmit="return confirm('Everything look okay before saving?');")
      input(type="hidden" id='clientid' name='clientid' value= id)
      include noteForm
      button(id='btnCreateNewNote' for='createNewNote' type='submit').btn.btn-primary 
        i.fa.fa-plus
          span.fa-icon-text  Save Note
    hr

    script.
      addNewNoteOptions() //populate input fields 