div.form-row
  div.form-group.col-3
    label(for='date') Date
    input(required type="date" id="date" name="date").form-control
  div.form-group.col-sm-4
    label(for="sessionHrs") Session Length
    div.input-group
        select(id="sessionHrs" name="sessionHrs").form-control.mr-1
            option(value="0") 0 hrs
            option(value="1" selected) 1 hr
            option(value="2") 2 hrs
            option(value="3") 3 hrs
            option(value="4") 4 hrs
            option(value="5") 5 hrs
            option(value="6") 6 hrs
            option(value="7") 7 hrs
            option(value="8") 8 hrs
            option(value="9") 9 hrs 
        select(id="sessionMins" name="sessionMins").form-control 
            option(value="00" selected) 00 mins
            option(value="05") 05 mins
            option(value="10") 10 mins
            option(value="15") 15 mins
            option(value="20") 20 mins
            option(value="25") 25 mins
            option(value="30") 30 mins
            option(value="35") 35 mins
            option(value="40") 40 mins
            option(value="45") 45 mins
            option(value="50") 50 mins
            option(value="55") 55 mins
  div.form-group.col
    label(for='otherNames') Other Client Names
    input(type='text' id='otherNames' name='otherNames').form-control.toupper
div.form-row
  div.form-group.col-md
    label(for="chiefComplaint") Chief Complaint
    textarea(id="chiefComplaint" name="chiefComplaint" rows="3").form-control
div.form-row
  div.form-group.col-md
    label(for="clientExchanges") Client’s Interpersonal and/or Verbal Exchanges (Objective)
    textarea(id="clientExchanges" name="clientExchanges" rows="3").form-control

p.lead Therapist’s Observation/MSE (Subjective):

div.form-row
  div.form-group.col-2
    p.pt-1 Appearance:
  div.form-group.col-md
    input(type="text" id="appearance" name="appearance").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Psychomotor:
  div.form-group.col-md
    input(type="text" id="psychomotor" name="psychomotor").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Mood:
  div.form-group.col-md
    input(type="text" id="mood" name="mood").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Affect:
  div.form-group.col-md
    input(type="text" id="affect" name="affect").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Speech:
  div.form-group.col-md
    input(type="text" id="speech" name="speech").selectized.form-control    
div.form-row
  div.form-group.col-2
    p.pt-1 Thoughts:
  div.form-group.col-md
    input(type="text" id="thoughts" name="thoughts").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Insight:
  div.form-group.col-md
    input(type="text" id="insight" name="insight").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Judgment:
  div.form-group.col-md
    input(type="text" id="judgment" name="judgment").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Eye Contact:
  div.form-group.col-md
    input(type="text" id="eyecontact" name="eyecontact").selectized.form-control    
div.form-row
  div.form-group.col-auto
    p.pt-1 Suicidal/Homicidal Ideation:
  div.form-group.col-md
    input(type="text" id="shideation" name="shideation").selectized.form-control    

div.form-row
  div.form-group.col-md
    label(for="goalProgress") Progress Towards Goal(s)
    textarea(id="goalProgress" name="goalProgress" rows="3").form-control

div.form-row
  div.form-group.col-md
    label(for="interventions") Interventions Used
    input(type="text" id="interventions" name="interventions").selectized.form-control

div.form-row
  div.form-group.col-md
    label(for="diagnosis") Diagnosis
    //- Use for slectize -// input(type="text" id="diagnosis" name="diagnosis").selectized.form-control
    input(list="icd10data" id="diagnosis" name="diagnosis" placeholder="Type to search... ").form-control
    datalist(id="icd10data" )
      each i in icd10Data
        option(value=i.Code + " - " + i.Description)

div.form-row
  div.form-group.col-md
    label(for="treatmentPlan") Treatment Plan/Recommendations
    textarea(id="treatmentPlan" name="treatmentPlan" rows="3").form-control
