div.form-row
  div.form-group.col-3
    label(for='date') Date
    input(required type="date" id="date").form-control
  div.form-group.col-sm-4
    label(for="sessionHrs") Session Length
    div.input-group
        select(id="sessionHrs" name="sessionHrs").form-control.mr-1
            option(value="0") 0 hrs
            option(value="1" selected) 1 hr
            option(value="2") 2 hrs
            option(value="3") 3 hrs
            option(value="4") 4 hrs
            option(value="5") 5 hrs
            option(value="6") 6 hrs
            option(value="7") 7 hrs
            option(value="8") 8 hrs
            option(value="9") 9 hrs 
        select(id="sessionMins" name="sessionMins").form-control 
            option(value="00" selected) 00 mins
            option(value="05") 05 mins
            option(value="10") 10 mins
            option(value="15") 15 mins
            option(value="20") 20 mins
            option(value="25") 25 mins
            option(value="30") 30 mins
            option(value="35") 35 mins
            option(value="40") 40 mins
            option(value="45") 45 mins
            option(value="50") 50 mins
            option(value="55") 55 mins
  div.form-group.col
    label(for='otherNames') Other Client Names
    input(type='text' id='otherNames' name='otherNames').form-control.toupper
div.form-row
  div.form-group.col-md
    label(for="chiefComplaint") Chief Complaint
    textarea(id="chiefComplaint" name="chiefComplaint" rows="3").form-control
div.form-row
  div.form-group.col-md
    label(for="clientExchanges") Client’s Interpersonal and/or Verbal Exchanges (Objective)
    textarea(id="clientExchanges" name="clientExchanges" rows="3").form-control

p.lead Therapist’s Observation/MSE (Subjective):

div.form-row
  div.form-group.col-2
    p.pt-1 Appearance:
  div.form-group.col-md
    input(type="text" id="appearance" name="appearance").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Psychomotor:
  div.form-group.col-md
    input(type="text" id="psychomotor" name="psychomotor").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Mood:
  div.form-group.col-md
    input(type="text" id="mood" name="mood").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Affect:
  div.form-group.col-md
    input(type="text" id="affect" name="affect").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Speech:
  div.form-group.col-md
    input(type="text" id="speech" name="speech").selectized.form-control    
div.form-row
  div.form-group.col-2
    p.pt-1 Thoughts:
  div.form-group.col-md
    input(type="text" id="thoughts" name="thoughts").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Insight:
  div.form-group.col-md
    input(type="text" id="insight" name="insight").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Judgment:
  div.form-group.col-md
    input(type="text" id="judgment" name="judgment").selectized.form-control
div.form-row
  div.form-group.col-2
    p.pt-1 Eye Contact:
  div.form-group.col-md
    input(type="text" id="eyecontact" name="eyecontact").selectized.form-control    
div.form-row
  div.form-group.col-auto
    p.pt-1 Suicidal/Homicidal Ideation:
  div.form-group.col-md
    input(type="text" id="shideation" name="shideation").selectized.form-control    

div.form-row
  div.form-group.col-md
    label(for="goalProgress") Progress Towards Goal(s)
    textarea(id="goalProgress" name="goalProgress" rows="3").form-control

div.form-row
  div.form-group.col-md
    label(for="interventions") Interventions Used
    input(type="text" id="interventions" name="interventions").selectized.form-control

div.form-row
  div.form-group.col-md
    label(for="diagnosis") Diagnosis
    input(type="text" id="diagnosis" name="diagnosis").selectized.form-control


script.
  const icd10_data = !{JSON.stringify(icd10Data)}

  document.getElementById('date').valueAsDate = new Date(); //set date input to current    

  //- adds input options to selectize input field
  function addSelectizeInput(tagid, opts){
    $('#' + tagid).selectize({
      plugins: ['remove_button'],
      options: opts,
      labelField: 'value',
      placeholder: 'Select from list or type your own description...',
      delimiter: ',',
      persist: false,
      create: function(input) {
          return {
              value: input,
              text: input
          }
      }
    });
  }


  var diagnosisOpts =[]
  for(var i in icd10_data){
    var tmp = {
      value: icd10_data[i].Description + " - " + icd10_data[i].Code
    }
    diagnosisOpts.push(tmp)
  }
  addSelectizeInput('diagnosis',diagnosisOpts)

  var interventionsOpts = [
    {value: 'Insight-Oriented'},
    {value: 'Supportive'},
    {value: 'CBT'},
    {value: 'Crisis Intervention/Trauma work'},
    {value: 'Grief workEnergy Psychology: EFT/tapping'},
    {value: 'Grief workEnergy Psychology: Biofield and chakra treatments'},
    {value: 'Grief workEnergy Psychology: Energy corrections'},
    {value: 'Mindfulness techniques: Deep breathing'},
    {value: 'Mindfulness techniques: Guided meditations'},
    {value: 'Mindfulness techniques: Progressive muscle relaxation'},
    {value: 'Mindfulness techniques: Staying present'},
    {value: 'Mindfulness techniques: Use of loving-kindness towards self/others'},
    {value: 'Hypnosis'},
  ]
  addSelectizeInput('interventions',interventionsOpts)

  var shideationOpts = [
    {value: 'None'},
    {value: 'Fleeting'},
    {value: 'Plan/Intent-YES'},
    {value: 'Plan/Intent-NO'},
    {value: 'Contracts for Safety-YES'},
    {value: 'Contracts for Safety-NO'},
  ]
  addSelectizeInput('shideation',shideationOpts)

  var eyecontactOpts = [
    {value: 'WNR'},
    {value: 'Minimal'},
    {value: 'Poor'},
  ]
  addSelectizeInput('eyecontact',eyecontactOpts)

  var jugdmentOpts = [
    {value: 'Poor'},
    {value: 'Fair'},
    {value: 'Good'},
    {value: 'Excellent'},
  ]
  addSelectizeInput('judgment',jugdmentOpts)

  var insightOpts = [
    {value: 'Poor'},
    {value: 'Fair'},
    {value: 'Good'},
    {value: 'Excellent'},
  ]
  addSelectizeInput('insight',insightOpts)

  var speechOpt = [
      {value: 'Soft'},
      {value: 'Loud'},
      {value: 'Rapid'},
      {value: 'Expressive'},
      {value: 'Stilted'},
      {value: 'Poverty'},
      {value: 'These are normal for client'},
    ]
  addSelectizeInput('speech', speechOpt)

  var affectOpt = [
      {value: 'WNR'}, 
      {value: 'Full'}, 
      {value: 'Appropriate'}, 
      {value: 'Inappropriate'}, 
      {value: 'Smiling'}, 
      {value: 'Laughter'}, 
      {value: 'Congruent With Mood'}, 
      {value: 'Restricted'}, 
      {value: 'Flat'}, 
      {value: 'Tearful'},
      {value: 'Dramatic'}, 
    ]
  addSelectizeInput('affect',affectOpt)

  var moodOpt = [
      {value: 'WNR'}, 
      {value: 'Bright'},
      {value: 'Anxious'},
      {value: 'Tense'},
      {value: 'Panicky'},
      {value: 'Sad'},
      {value: 'Sullen'},
      {value: 'Depressed'},
      {value: 'Despondent'},
      {value: 'Dysphoric'},
      {value: 'Angry'},
      {value: 'Euphoric'},
      {value: 'Expansive'},
    ]
  addSelectizeInput('mood',moodOpt)

  var psychomotorOpts = [
      {value: 'WNR'},
      {value: 'Lethargic'},
      {value: 'Agitated'},
    ]
  addSelectizeInput('psychomotor',psychomotorOpts)

  var appearanceOpts = [
      {value: 'Well Groomed'},
      {value: 'Adequate'},
      {value: 'Inadequate'},
    ]
  addSelectizeInput('appearance',appearanceOpts)

  var thoughtsOpts = [
    {value: 'Organized'},   
    {value: 'Circumstantial'},
    {value: 'Tangential'},
    {value: 'Disorganized'},  
    {value: 'Illogical'},  
    {value: 'Paranoid'},
  ]  
  addSelectizeInput('thoughts',thoughtsOpts)

  //- TODO user below code as template to populate selectize items in input on page load
  //- ...probably useful on 'EDIT NOTE' page 
  //- var testopt = {
  //-     plugins: ['remove_button'],
  //-     options: moodOpt,
  //-     labelField: 'value',
  //-     placeholder: 'Select from list or type your own description...',
  //-     delimiter: ',',
  //-     persist: false,
  //-     create: function(input) {
  //-         return {
  //-             value: input,
  //-             text: input
  //-         }
  //-     }
  //-   }
  //- var $select = $('#mood').selectize(testopt);
  //- var selectize = $select[0].selectize
  //- selectize.setValue(['Angry','Tense','Sad'], false)
