extends layout

block content
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    a(href="#").navbar-brand Navbar
      button(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler 
        span.navbar-toggler-icon
    div(id="navbarsExampleDefault").collapse.navbar-collapse 
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a(href="#").nav-link Home 
              span.sr-only (current)
          li.nav-item.dropdown
              a(href="#" id="dropdown01", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false").nav-link.dropdown-toggle Dropdown
              div(aria-labelledby="dropdown01").dropdown-menu 
                  a(href="#").dropdown-item Action
                  a(href="#").dropdown-item Another action
                  a(href="#").dropdown-item Something else here
  div.container
    h1.display-4 Welcome back.
