extends layout

block content
  //- https://www.w3schools.com/howto/howto_js_sidenav.asp
  
  //- sidebar.pug
  include sidebar
  
  //- Body
  div.container.w3-animate-opacity

    //- Check for alerts
    if doAlert
      include alert

    h1.display-3= message
    a.btn.btn-primary(type='button' role='button' href="/newClient") 
      i.fa.fa-plus
        span.fa-icon-text  New Client

    //- Display clients if there are some. 
    if clients.length > 0
      div.shadow-sm.my-3.br-white.rounded
        div.card-body
          h2.display-4 Clients
          hr
          
          //- Search bar
          div.input-group
            div.input-group-prepend
              div.input-group-text 
                i.fa.fa-search
            input.form-control(id="inputNameSearch" type="text" placeholder="Search Clients..." onkeyup="userPageSearchClients()")
          
          //- list all clients
          each client in clients
            - var userid = client.id
            div.card.my-2.shadow-sm.rounded(id='userCard' + userid)
              div.card-body
                div.container
                  div.row.mb-2
                    div.col-sm-9
                      p.text-muted Last Update: 
                        updated(id= userid) #{client.dt_updated}
                    div.col-sm-3
                      form(id='formNewNote' role="form" method='POST' action="/newNote")
                        input(type="hidden" id="userid" name='userid' value= userid)
                        button.btn.btn-primary.btn-block(id='btnNewNote' type='submit' data-toggle="tooltip" data-placement="top" title="Create a new note")
                          i.fa.fa-pencil
                            span.fa-icon-text  New Note
                  div.row
                    div.col-sm-9
                      h5.card-title
                        name.tocapitalize(id= userid) #{client.firstName} #{client.lastName}
                    div.col-sm-3
                      form(role='form' method="POST" action="/viewClient")
                        input(type="hidden" name='userid' value= userid)
                        button.btn.btn-secondary.btn-block(type='submit' data-toggle="tooltip" data-placement="top" title="View this clients record")
                          i.fa.fa-user
                            span.fa-icon-text  View Client
                
append foot
  script.
    //- enable bootstrap tooltips (Enable tooltips everywhere)
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  