extends layout

block content
  //- https://www.w3schools.com/howto/howto_js_sidenav.asp
  
  //- sidebar.pug
  include sidebar
  
  //- Body
  div.container.w3-animate-opacity

    //- Check for alerts
    if doAlert
      div.alert.alert-primary(role="alert" id='alert') #{alertMsg}
      script.
        window.setTimeout(function() {
          $(".alert").fadeTo(500, 0).slideUp(500, function(){
              $(this).remove(); 
          });
        }, 2000);
      

    h1.display-3= message
    a.btn.btn-primary(type='button' role='button' href="/newClient") 
      i.fa.fa-plus
        span.fa-icon-text  New Client
  
  