extends layout

block content
  //- https://www.w3schools.com/howto/howto_js_sidenav.asp
  
  //- Side bar
  div.sidenav(id='userHomeSidenav')
    a.closebtn(href="javascript:void(0)" onclick="closeNav()") &times;
    a(href='#') About
    a(href='#') Services
    a(href='#') Clients
    a(href='#') Contact
  //- span(style="font-size:30px;cursor:pointer" onclick="openNav()") &#9776;
  button.btn.btn-warning(type="button" onclick="openNav()")
    i.fa.fa-bars  Menu
  
  div.container
    h1.display-4 Welcome back
  script.
    function openNav(){
      document.getElementById("userHomeSidenav").style.width = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
      document.getElementById("userHomeSidenav").style.width = "0";
      document.body.style.backgroundColor = "white";
    }

  