extends layout

block content
  //- https://www.w3schools.com/howto/howto_js_sidenav.asp
  
  //- sidebar.pug
  include sidebar
  
  //- Body
  div.container.w3-animate-opacity

    //- Check for alerts
    if doAlert
      include alert

    h1.display-3= message
    a.btn.btn-primary(type='button' role='button' href="/newClient") 
      i.fa.fa-plus
        span.fa-icon-text  New Client

    //- Display clients if there are some. 
    if clients.length > 0
      div.shadow-sm.my-3.br-white.rounded
        div.card-body
          h2.display-4 Clients
          hr
          div.input-group
            div.input-group-prepend
              div.input-group-text 
                i.fa.fa-search
            input.form-control(id="inputNameSearch" type="text" placeholder="Search Clients..." onkeyup="userPageSearchName()")
          each client in clients
            - var userid = client.id
            div.card.my-2.shadow-sm.rounded(id='userCard' + userid)
              div.card-body
                div.container
                  div.row.mb-2
                    div.col-sm-9
                      p.text-muted Last Update: 
                        updated(id= userid) #{client.dt_updated}
                    div.col-sm-3
                      a.btn.btn-primary.btn-block(type='button' role='button' href='#')
                        i.fa.fa-pencil
                          span.fa-icon-text  New Note
                  div.row
                    div.col-sm-9
                      h5.card-title.tocapitalize 
                        name(id= userid) #{client.firstName} #{client.lastName}
                    div.col-sm-3
                      a.btn.btn-secondary.btn-block(type='button' role='button' href='#')
                        i.fa.fa-user
                          span.fa-icon-text  View Client
                

  