body {
  padding: 50px;
  font: 14px "Segoe UI","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nowrap{
  white-space: nowrap;
}

.fa-icon-text{
  font-family: "Segoe UI","Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* a { */
  /* color: #00B7FF; */
/* } */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  /* text-decoration: none; */
  font-size: 25px;
  /* color: #818181; */
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.toupper {
  text-transform: uppercase; 
}

.tocapitalize {
  text-transform: capitalize; 
}

.nooverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alertstyle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.boxshadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textcenter {
  text-align: center;
}

.uniformbg {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,239,239,1) 50%, rgba(250,250,250,1) 100%);
}

.input-field {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid lightgray !important;
}

.input-field:hover {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid #7fbdff !important;
}

.input-field:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid #007bff !important;
}

.hide {
  display: none;
}